* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}

.box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rcb(255,255,255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #666666;
    font-weight: bold;

}

.navbar ul li a:hover {
    color: rgb(51,51,51);
}
.box .course {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.course h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.course p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.course .button{
    display: inline-block;
    background-color: #ff6600;
    color: rgb(255,255,255);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.course .button:hover {
    background-color: #e65c00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}